@CHARSET "UTF-8";

#area {
	position: absolute;
	left: 37%;
	top: 29%;
	width: 320px;
	height: 270px;
}

#area #formulario {
	position: absolute;
	display: block;
}

#formulario label {
	position: absolute;
	left: 19px;
	margin-right: 5px;
}

#formulario input.campoNome {
	position: absolute;
	left: 95px;
	width: 225px;
}

#formulario input.campoMatricula {
	position: absolute;
	left: 95px;
	width: 225px;
}

#formulario input.campoEmail {
	position: absolute;
	left: 95px;
	width: 225px;
}